.Board {
  margin: 0 auto;
}

.brand-logo {
    /* position: absolute; */
    color: #ffdd00;
    display: inline-block;
    font-size: 6rem;
    /* padding-top: 60; */
    /* margin-top:50; */
    /* white-space: nowrap; */
    font-family: 'Pacifico', cursive;
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 6px #292736, 0 0 8px #292736, 0 0 10px #292736, 0 0 12px #292736, 0 0 14px #292736;
    animation: glow .59s infinite alternate;
}
body{
  background-color:#e0afa0;
}
/* Animation as suggested by Ismail Ghallou */
@keyframes glow {
    to {
     text-shadow: 0 0 4px #fff, 0 0 8px #fff, 0 0 12px #d25ed4, 0 0 16px #d25ed4, 0 0 20px #d25ed4, 0 0 24px #d25ed4, 0 0 28px #d25ed4;
    }
  }
  .brand-logo{
          text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 6px #292736, 0 0 8px #292736, 0 0 10px #292736, 0 0 12px #292736, 0 0 14px #292736;
          animation: glow .59s infinite alternate;
  }