.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Akaya Kanadaka', cursive;
  font-size:large;
  background: linear-gradient(135deg, rgb(180, 221, 86),#ec796f);
}
