 .Joke{
     display: flex;
     border-bottom: 2px solid black;
     align-items: center;
     justify-content: center;
     font-weight: 400;
     padding: 0.5rem;

}

.Joke-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    width:15%;
    margin-left: 0.5rem;
}

.Joke-text{
width:75%;
font-size: 1.2rem;

} 

.Joke-voteText{
    border: 3px solid black;
    width:50px;
    height:50px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.fa-arrow-up, .fa-arrow-down{
    font-size: 1.5rem;
    margin:5px;
    cursor:pointer;
}

.Joke-smily{
    font-size: 2rem;
    margin-left: auto;
    border-radius: 50%;
}