.JokeList {
  display: flex;
  width: 80%;
  height: 80%;
}

.JokeList-navbar {
  background: rgb(211, 164, 78);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  text-align: center;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1),
    inset 0 0 25px #c25757;
  z-index: 2;
}

.JokeList-title {
  font-size: 3rem;
  margin: 2rem;
  color: black;
  font-weight: 300;
  letter-spacing: 0.6rem;
}

.JokeList-button {
  background-color: rgb(235, 218, 64);
  border: 2px solid red;
  border-radius: 2em;
  width:70%;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  margin: 20px;
  padding: 1em 2.2em;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}
.JokeList-jokes {
  height: 90%;
  background: white;
  align-self: center;
  width: 70%;
  overflow: scroll;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
}
.JokeList-spinner {
  color: rgb(2, 2, 2);
  text-align: center;
}
